@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'MTN';
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;

}

:root{
    /* --lightgreen: rgb(49, 218, 15); */
    --darkgreen: rgb(1, 49, 1);
    --lightgreen: rgb(105, 236, 105);
}

 @font-face {
    font-family: MTNBold; 
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    src: url('./fonts/MTN-Bold.ttf');
  }

  @font-face {
    font-family: MTN; 
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    src: url('./fonts/MTN-Regular.ttf');
  } 

  html{
    font-size: clamp(13px, 2.5vw, 15px);
    scroll-behavior: smooth;
  }

.logo{
    display: flex;
    align-items: center;
}

.logo_img{
    width: 4rem;
    margin: 10px;
    
}

header{
    /* background-color: rgb(80, 3, 95); */
    /* background-color: rgb(3, 2, 53); */
    background-color: var(--darkgreen);
    /* color: rgb(219, 144, 4); */
    color: rgb(105, 236, 105);
    font-family: 'MTNBold';
    padding: 20px;
    align-items: center; 
    display: flex;
    justify-content: space-between;
    width: auto;
    border-bottom: 5px solid var(--lightgreen);
    
}

/* header h1{
    font-size: clamp(13px, 2.5vw, 15px);
} */



/* header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}  */

header ul li{
    padding-right: 10px;
    /* text-transform: uppercase; */
    display: inline-block;  
     
}

header ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--lightgreen);
    margin: auto;
    display: block;
    transition: .5s;
}

header ul li a {
    color: var(--lightgreen);
    text-decoration: none; 
}

header ul li a:hover{
    text-transform: uppercase;
}

header ul li a:hover::after{
    width: 100%;
}

header ul li button{
    border: 2px solid var(--lightgreen);
    color: var(--lightgreen);
    padding: 0.5rem;
    font-weight: 500;
    background-color: var(--darkgreen);
}

header ul li button:hover{ 
    background-color: var(--lightgreen);
    color: white;
    text-transform: uppercase;
    
}


.home{
    /* color: rgb(80, 3, 95); */
    /* color: rgb(219, 144, 4); */
    color: var(--darkgreen);
    background-color: whitesmoke;
    display: flex;
    
}

.home_img{
    width: 45rem;
}

.home .left{
    padding: 150px 30px;
}

.home h1{
    font-size: clamp(90px, 1.5vw, 95px);
}

.about-us{
    margin: 60px 40px;
    color: var(--darkgreen);
    background-color: rgb(69, 184, 115);
    margin-left: 10px;
    margin-right: 10px;
    padding: 3rem;
    display: grid;
    grid-template-columns: 5fr 5fr; 
    border-radius: 30px;
}

.about-us h1{
    font-size: clamp(50px, 5vw, 70px);
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-left{
    text-align: justify;  
}


.book{
    padding: 100px 100px;
    /* color: rgb(80, 3, 95); */
    /* color: rgb(219, 144, 4); */
    color: var(--darkgreen);
    display: flex;
    justify-content: center;
    background-color: white;
    
    
}

.book1{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
    
}

.reg-btn{
        border: 2px solid var(--lightgreen);
        color: var(--lightgreen);
        padding: 0.5rem; 
        font-weight: 500;
        background-color: var(--darkgreen);
        width: 80px;
        margin-top: 20px;
        cursor: pointer;
}



.founders{
    background-color: whitesmoke;
    padding: 50px 0;
}

.founders h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darkgreen);
    font-size: clamp(20px, 5vw, 50px);
}


.grid{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(4, .5fr);
    grid-gap: 30px;
    align-items: center; 
}

.grid > article{
    background: whitesmoke;
    border: none;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    width: 250px;
    transition: transform .3s;
}

.grid > article:hover{
    transform: translateY(10px);
    box-shadow: 2px 2px 26px 0 rgba(0, 0, 0, 0.3);  
}

.grid > article img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.text{
    padding: 0 40px 40px;
}

.text h3{
    text-transform: uppercase;
}

.text button{
    background: var(--darkgreen);
    border-radius: 20px;
    border: none;
    color: var(--lightgreen);
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.container{
	max-width: 1170px;
	margin:auto;

}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--darkgreen);
    padding: 50px 0;
}
.footer-col{
   width: 25%;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 60px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: var(--lightgreen);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	/* color: #ffffff; */
    color: var(--lightgreen);
	transition: all 0.5s ease;
}
.footer-col .social-links p{
    color: var(--lightgreen);
}
.footer-col .social-links a:hover{
	color: var(--lightgreen);
	background-color: #ffffff;
}








/* tablet devices */
@media (max-width:1024px) {
    .grid{
        
        display: grid;
        grid-template-columns: repeat(3, .5fr);
        grid-gap: 30px;
        align-items: center;
        
    }
    
    
}



/*mobile devices landscape */
@media(max-width: 768px){
    /* header ul{
        display: flex;
        flex-direction: column;
 
    }  */

    header{
        display: grid;
        padding: 20px;
    }
    
    header ul li{
        margin: 0.5rem 0.5rem 0.5rem 0;
   
    
    }  


    .home{
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        
        background-size: 35rem;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;   
        
    }

    .home .left{
        margin: 10px 40px;
        padding-top: 90px;
        padding-right: 30px;
    }


    .home .right{
        display: none;

    }
    
    .home h1{
        font-size: clamp(50px, 1vw, 40px);
    }

    .about-us{
        margin: 60px 40px;
        color: var(--darkgreen);
        background-color: rgb(69, 184, 115);
        margin-left: 10px;
        margin-right: 10px;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        /* display: grid;
        grid-template-columns: 5fr 5fr;  */
    }


    .about-us h1{
        font-size: clamp(50px, 5vw, 70px);
        margin: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about-us-left{
        text-align: justify;  
    }
    


    .grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        padding-left: 10px; 
    }
    
    
    
}


@media (max-width: 700px) {

    header ul li{
        display: block;
        padding-bottom: 10px;

    }

    /* nav{
        position: absolute;
        background: var(--darkgreen);
        height: 100vh;
        width: 150px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    } */
    
    header ul li a {
        color: var(--lightgreen);
        text-decoration: none;
        transition: .3s;
        
    }
    
}




/* mobile devices portrait */
@media (max-width:480px) {
     .grid{
        margin: 80px;
        display: flex;
        flex-direction: column;
    }
        

    .about-us{
       
        color: var(--darkgreen);
        display: grid;
        width: auto;
        /* background-color: rgb(81, 163, 115); */
        
    }

 
}



/* @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
   */